body {
    background:linear-gradient(to right, #0c0c0c, rgb(29, 29, 29), rgb(29, 29, 29), #0c0c0c);
    color: white;
}
.container-fluidcolor-line {
    background: linear-gradient(to right, #d6daff, #00ffe0a6, #00ffe0a6, #d6daff);
    height: 3px;
    width: 100%;
}
.container-nav {
    display: flex;
    justify-content: center; 
    align-items: center; 
    max-width: 1200px;
    width: 100%;
    margin: 0 auto; 
    padding: 0; 
    gap: 2rem; /* Espaçamento entre os itens */
    padding-right: 5px; /* Padding específico à direita */
}
.navbar-nav .nav-link.active {
    color: #00ffe0a6;
}
.navbar-nav .nav-link.active:hover{
    color:white;
}
.nav-link {
    color: #00ffe0a6;
}
.nav-link:hover {
    color: white;
}
.dropdown-item {
    color: #00ffe0a6;
}
.dropdown-menu.show{
    background: #18211e;
}
.form-control {
    background: rgb(235, 255, 255);
}
.btn {
    background: rgb(33 37 41);
    border-color: #00ffe0a6;
    color: #00ffe0a6;
}
.btn:hover {
    background: #00ffe0a6;
    border-color: rgb(255 255 255);
    color: rgb(33 37 41);
}
.section {
    display: none;
    padding: 20px;
}
.active {
    display: block;
}
.menu-home {
    display: flex;
    max-width: 1200px;
    flex-direction: center;
    margin: 0 auto;

}
.menu-home a {
    display: flex;
    width: 400px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 30px;
    }
.menu-home a:hover {
    border-bottom: 2px solid #00ffe0a6;
}
.container-banner {
    display: flex;
    justify-content: center;
}
.container-banner img {
    width: 100%;
    height: 600px;
}
.container-servicos {
    color: rgb(255, 255, 255);
    background-color: transparent;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 2rem;
}
.servicos-carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.servicos-index {
    display: flex;
    transition: transform 0.5s ease;
}
.pagina {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.card-index {
    margin: 1rem;
    padding: 10px;
    width: 290px; 
    height: 350px;
    justify-content: space-between;
    color: rgb(248, 248, 248);
    background-color: transparent;
    border-radius: 10px;
    overflow: hidden;
    box-sizing: border-box;
    border-right: 1px solid rgb(255, 255, 255); 
    border-bottom: 1px solid rgb(255, 255, 255); 
}
.card-index:hover {
    background-color: #1b1b1b;
    border-right: 1px solid #00ffe0a6; 
    border-bottom: 1px solid #00ffe0a6;
}
.servicos-index img {
    width: 100%;
    height: 150px;
    border-radius: 10px;
}
.carousel-controls {
    text-align: center;
}
.card-index {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card-index a {
    justify-content: center;
    display: flex;
    color: white;
    text-decoration: none;
    width: 140px;
    background-color: rgb(24, 24, 24);
    align-items: center;
    border-radius: 10px;
    border: 1px solid #00ffe0a6 ;
}
.card-index a:hover {
    justify-content: center;
    display: flex;
    color: #00ffe0a6;
    text-decoration: none;
    width: 140px;
    background-color: rgb(73, 73, 73);
    align-items: center;
    border-radius: 10px;
    border: 1px solid #00ffe0a6 ;
}
.carousel-controls button {
    border-radius: 50%;
    background-color: rgb(37, 37, 37);
    color: white;
    border: none;
    padding: 10px;
    margin: 0 10px;
    cursor: pointer;
    font-size: 18px;
}
.carousel-controls button:hover {
    color: #00ffe0a6;
}
.container-equipe {
    margin: 0 auto;
    padding: 1rem;
    max-width: 1200px;
    color: white;
}
.banner-equipe {
    background: linear-gradient(to right, #0c0c0c, rgb(29, 29, 29), rgb(29, 29, 29), #0c0c0c);
    border-radius: 20px;
    width: 100%;
    color: white;;
    display: flex;
    padding: 2rem;
    gap: 2rem;
    margin-top: 1rem;
    box-shadow: 2px 2px 2px #00ffe0a6;
}
.dado-equipe {
    max-width: 400px;
    width: 380px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(37, 37, 37);
}
.dado-equipe img {
    border-radius: 20px;
    width: 270px;
    height: 200px;
    background: linear-gradient(to right, #0c0c0c, rgb(29, 29, 29), rgb(29, 29, 29), #0c0c0c);
    padding: 2rem;
    box-shadow: 1px 1px 1px #00ffe0a6;
    margin-bottom: 10px;
}
.infor-equipe {
    display: flex;
    max-width: 800px;
    justify-content: center;
}
.banner-equipe2 {
    background: linear-gradient(to right, #0c0c0c, rgb(29, 29, 29), rgb(29, 29, 29), #0c0c0c);
    border-radius: 20px;
    width: 100%;
    color: white;;
    display: flex;
    padding: 2rem;
    gap: 2rem;
    margin-top: 1rem;
    box-shadow: -2px 2px 2px #00ffe0a6;
}
.dado-equipe2 {
    max-width: 400px;
    width: 380px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(37, 37, 37);
}
.dado-equipe2 img {
    border-radius: 20px;
    width: 270px;
    height: 200px;
    background: linear-gradient(to right, #0c0c0c, rgb(29, 29, 29), rgb(29, 29, 29), #0c0c0c);
    padding: 2rem;
    margin-bottom: 10px;
    box-shadow: -1px 1px 1px #00ffe0a6;
}
.infor-equipe2 {
    display: flex;
    max-width: 800px;
    justify-content: center;
}
.expand-btn {
    background: transparent;
    border: none;
    color: #00ffe0;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 1rem;
    text-align: center;
}
.expand-btn:hover {
    text-decoration: underline;
}

.container-localizacao {
    margin: 0 auto;
    max-width: 1200px;
    flex-direction: column;
    display: flex;
    color: white;
    gap: 2rem;
    background: linear-gradient(to right, #0c0c0c, rgb(29, 29, 29), rgb(29, 29, 29), #0c0c0c);
    padding: 1rem;
    border-radius: 10px;
}
.container-into-localizacao {
    display: flex;
    gap: 1rem;
}
.localizacao-mapa {
    max-width: 800px;
    max-height: 500px;
}
.img-loja img{
    max-width: 400px;
    width: 100%;
    height: 190px;
}
.container-sobre {
    background:linear-gradient(to right, #0c0c0c, rgb(29, 29, 29), rgb(29, 29, 29), #0c0c0c);
    color: white;
    padding: 1rem;
    border-radius: 10px;
}
.sobre-principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sobre-principal img {
    width: 25%;
}
.container-sobre {
    width: 100%;
}
.container-into {
    max-width: 1200px;
    border-radius: 10px;
    margin: 0 auto;
    padding: 1rem;
    background:linear-gradient(to right, #0c0c0c, rgb(29, 29, 29), rgb(29, 29, 29), #0c0c0c);
}
.cards-sobre {
    display: flex;
    justify-content: space-between;
    gap: 0.4rem;
}
.card-sobre {
    max-width: 50%;
    width: 580px;
    border: 2px solid rgb(54, 54, 54);
    padding: 1rem;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.3rem;
}
.card-sobre:hover {
    max-width: 50%;    
    background:linear-gradient(to right, #0c0c0c, rgb(29, 29, 29), rgb(29, 29, 29), #0c0c0c);
    width: 580px;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.3rem;
}
.img-icon {
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
}
.card-sobre p {
    margin-top: 1rem;
    max-width: 500px;
    width: 500px;
    max-height: 100px;
    height: 100px;
    overflow: hidden;
}

footer {
    display: flex;
    background: rgb(0, 0, 0);
    width: 100% !important;
    align-items: center;
    padding: 1rem;
}
.rodape {
    color: rgb(255, 255, 255);
    max-width: 1200px;
    width: 1200px;
    max-height: 400px;
    height: 300px;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 10px;
    background:linear-gradient(to right, #0c0c0c, rgb(29, 29, 29), rgb(29, 29, 29), #0c0c0c);
    justify-content: space-between;
}
.into-rodape {
    display: flex;
    justify-content: center;
    justify-content: space-between;
}
.info-page-rodape ul,
.info-clinica-rodape ul,
.info-atendimentos-rodape ul {
    list-style-type: none;
    padding-left: 0;
}
.info-page-rodape a {
    text-decoration: none;
    color: #ffffff;
}
.receber-novidades-rodape {
    align-items: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.receber-novidades-rodape {
    display: flex; /* Organiza o input e o botão em uma linha */
}

.receber-novidades-rodape input {
    background: linear-gradient(to right, #0c0c0c, rgb(29, 29, 29), rgb(29, 29, 29), #0c0c0c);
    width: 300px;
    height: 30px;
    border: 1px solid black;
    border-right: none; /* Remove a borda direita para unir com o botão */
    border-radius: 10px 0 0 10px;
    color: white;
    outline: none;
}

.receber-novidades-rodape button {
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 30px;
    color: #ffffff;
    background: linear-gradient(to right, #0c0c0c, rgb(29, 29, 29), rgb(29, 29, 29), #0c0c0c);
    border: 1px solid black;
    border-left: none; /* Remove a borda esquerda para unir com o input */
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    margin-left: 0;
}
/* CSS  PÁGINA DE LOGIN */

.container-login {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #0c0c0c, rgb(29, 29, 29), rgb(29, 29, 29), #0c0c0c);
}
.container-login form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 0.4em;
    background-color: #171717;
    border-radius: 20px;
}
#heading {
    text-align: center;
    margin: 2em;
    color: rgb(0, 255, 200);
    font-size: 1.2em;
}
.field {
    display: flex;
    align-items: center;
    gap: 0.5em;
    border-radius: 25px;
    border: none;
    outline: none;
    color: white;
    background-color: #171717;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
    max-width: 300px;
    width: 300px;
  }
.input-field {
    margin-left: 10px;
    background: none;
    border: none;
    outline: none;
    color: rgb(0, 255, 200);
    max-width: 300px;
    width: 250px;    
}
.container-login .field .input-icon {
    fill: rgb(0, 255, 200);
    margin-left: 1em;
}
.container-login .entrar {
    max-width: 50%;
    width: 50%;
    padding: 0.5em;
    padding-left: 1.1em;
    padding-right: 1.1em;
    border-radius: 5px;
    margin-right: 0.5em;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
    color: rgb(0, 0, 0);
}
      
.container-login .entrar:hover {
    background-image: linear-gradient(163deg, #00642f 0%, #13034b 100%);
    color: rgb(0, 255, 200);
} 
.container-login .btn-login {
    display: flex;
    justify-content: space-between;
  }
.container-login .cadastrar {
    max-width: 50%;
    width: 50%;
    padding: 0.5em;
    padding-left: 2.3em;
    padding-right: 2.3em;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
    color: rgb(0, 0, 0);
  }
  
.container-login .cadastrar:hover {
    background-image: linear-gradient(163deg, #00642f 0%, #13034b 100%);
    color: rgb(0, 255, 200);
  }
.container-login .esqueceu-senha {
    padding: 0.5em;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
    color: rgb(0, 0, 0);
  }
  
.container-login .esqueceu-senha:hover {
    background-image: linear-gradient(163deg, #a00000fa 0%, #d10050 100%);
    color: rgb(255, 255, 255);
  }
.container-login .card {
    background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
    border-radius: 22px;
    transition: all .3s;
  }
  
.container-login .card2 {
    border-radius: 0;
    transition: all .2s;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 2em;
    padding-right: 2em;
    background-color: #171717;
    border-radius: 20px;
  }
  
.container-login .card2:hover {
    transform: scale(0.98);
    border-radius: 20px;
  }
  
.container-login .card:hover {
    box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
}
.error-messages {
    color: rgb(0, 255, 200);
    font-size: 14px;
    text-align: center;
    padding-bottom: 2rem;
}
.error-messages p {
    margin: 5px;
}
/*TELA DE CADASTRO USUARIO NORMAL */

.container-login .field label {
    color: #00ffe0;
    height: 30px;
}
.container-login .sexo {
    display: flex;
    color:#00ffe0; 
    margin-left: 0.8rem;
    justify-content: center;
    margin: 1px;
}
.field-sexo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 25px;
    border: none;
    outline: none;
    color: #00ffe0;
}
